@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  /* themes: all; */
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: oklch(55% 0.3 270);
  --color-primary-content: oklch(98% 0.01 270);
  --color-secondary: oklch(65% 0.25 270);
  --color-secondary-content: oklch(98% 0.01 270);
  --color-accent: oklch(60% 0.25 260);
  --color-accent-content: oklch(98% 0.01 260);
  --color-neutral: oklch(20% 0.05 270);
  --color-neutral-content: oklch(98% 0.01 270);
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
} */

@utility input {
  @apply h-8 border-1 focus:border-2 focus:outline-none focus:border-primary focus:rounded;
}

@utility textarea {
  @apply border-1 focus:border-2 focus:outline-none focus:border-primary focus:rounded;
}

@utility select {
  @apply h-8 w-fit focus:outline-none;
}

/* icon */
.t-icon-size-xs {
  @apply w-4 h-4;
}
.t-icon-size-sm {
  @apply w-5 h-5;
}
.t-icon-size {
  @apply w-6 h-6;
}
.t-icon-size-lg {
  @apply w-8 h-8;
}

/* animation */
.t-icon-animate {
  @apply transition-colors duration-300;
}
