@import "tailwindcss";
@plugin "daisyui" {
  /* themes: winter --default, dark --prefersdark; */
  themes: all;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

@utility input {
  @apply h-8 border-1 rounded-box focus:border-2 focus:outline-none focus:border-primary hover:bg-base-100 hover:text-base-content cursor-pointer transition-colors duration-200;
}

@utility textarea {
  @apply border-1 rounded-box focus:border-2 focus:outline-none focus:border-primary hover:bg-base-100 hover:text-base-content cursor-pointer transition-colors duration-200;
}

@utility select {
  @apply h-8 w-fit rounded-box focus:outline-none focus:rounded-box hover:bg-base-100 hover:text-base-content cursor-pointer transition-colors duration-200;
}

/* icon */
.t-icon-size-xs {
  @apply w-4 h-4;
}
.t-icon-size-sm {
  @apply w-5 h-5;
}
.t-icon-size {
  @apply w-6 h-6;
}
.t-icon-size-lg {
  @apply w-8 h-8;
}

/* animation */
.t-icon-animate {
  @apply transition-colors duration-300;
}

/* fade transition */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to, .fade-leave-from {
  opacity: 1;
}
