@import 'tailwindcss';
@plugin 'tailwind-scrollbar';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Plugin registration is done in tailwind.config.js, not in CSS */

/* Component layer */
@layer components {
  /* icon */
  .t-icon {
    @apply text-gray-400 transition-colors duration-300;
  }
  .t-icon-selected {
    @apply text-gray-300 transition-colors duration-300;
  }
  .t-icon-focus {
    @apply text-sky-500 transition-colors duration-300;
  }
  .t-icon-disabled {
    @apply text-gray-700;
  }
  .t-icon-focus-hover {
    @apply text-sky-300 transition-colors duration-300 cursor-pointer;
  }

  /* color */
  .t-color-border {
    @apply border-gray-700;
  }
  .t-color-border-selected {
    @apply border-sky-500;
  }
  .t-color-bg {
    @apply bg-gray-900;
  }
  .t-color-bg-light {
    @apply bg-gray-800;
  }
  .t-color-bg-highlight {
    @apply bg-sky-600;
  }
  .t-color-bg-selected {
    @apply bg-gray-700;
  }

  .t-color-text {
    @apply text-gray-400;
  }
  .t-color-text-focus {
    @apply text-sky-500;
  }
  .t-color-text-selected {
    @apply text-gray-200;
  }
  .t-color-text-dark {
    @apply text-gray-600;
  }
  .t-color-text-disabled {
    @apply text-gray-700;
  }
  .t-color-text-light {
    @apply text-gray-200;
  }
  .t-color-text-warning {
    @apply text-red-600;
  }
  .t-color-focus {
    @apply bg-gray-500;
  }

  /* input */
  .t-input-color-bg {
    @apply placeholder-gray-500 bg-transparent;
  }
  .t-input-focus {
    @apply focus:border focus:border-sky-500 focus:outline-none;
  }

  /* scrollbar */
  .t-scrollbar {
    @apply scrollbar scrollbar-thumb-gray-700 scrollbar-track-gray-800;
  }
  .t-scrollbar-dark {
    @apply scrollbar scrollbar-thumb-gray-700 scrollbar-track-gray-900;
  }
}
