/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-full;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #9ca3af transparent;
  }