[submodule "src-tauri/third_party/LibRaw"]
	path = src-tauri/third_party/LibRaw
	url = https://github.com/LibRaw/LibRaw.git
	branch = 0.22-stable
[submodule "src-tauri/third_party/libjpeg-turbo"]
	path = src-tauri/third_party/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
	branch = 3.1.x
[submodule "src-tauri/third_party/libheif"]
	path = src-tauri/third_party/libheif
	url = https://github.com/strukturag/libheif.git
	branch = v1.21.x-releases
[submodule "src-tauri/third_party/libde265"]
	path = src-tauri/third_party/libde265
	url = https://github.com/strukturag/libde265.git
