@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ensure full height for html, body, and #app */
/* html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1; 
} */
