@tailwind base;
@tailwind components;
@tailwind utilities;


/* window titlebar btn */
.t-window-btn {
  @apply p-3 w-12 h-10 t-color-text t-icon-hover t-color-bg-hover;
}

/* icon */
.t-icon-size {
  @apply w-6 h-6;
}
.t-icon-size-sm {
  @apply w-6 h-6;
}
.t-icon-hover {
  @apply hover:text-gray-100 transition-colors duration-300 cursor-pointer;
}
.t-icon-selected {
  @apply text-gray-300 transition-colors duration-300 ;
}
.t-icon-focus {
  @apply text-sky-600 transition-colors duration-300 ;
}
.t-icon-disabled {
  @apply text-gray-700;
}

/* color */
.t-color-border {
  @apply bg-gray-700;
}
.t-color-bg {
  @apply bg-gray-900;
}

.t-color-bg-light {
  @apply bg-gray-800;
}

.t-color-bg-hover {
  @apply hover:bg-gray-700;
}

.t-color-bg-selected {
  @apply bg-gray-700;
}

.t-color-text {
  @apply text-gray-400;
}
.t-color-text-focus {
  @apply text-sky-600;
}
.t-color-text-selected {
  @apply text-gray-200;
}
.t-color-text-dark {
  @apply text-gray-600;
}
.t-color-text-light {
  @apply text-gray-200;
}

.t-color-focus {
  @apply bg-sky-700;
}
.t-color-border {
  @apply border-gray-700;
}
/* scrollbar */
.t-scrollbar {
  @apply scrollbar scrollbar-thumb-gray-700 scrollbar-track-gray-800;
}
.t-scrollbar-dark {
  @apply scrollbar scrollbar-thumb-gray-700 scrollbar-track-gray-900;
}

/* input */
.t-input-color-bg {
  @apply placeholder-gray-500 bg-transparent;
}
.t-input-focus {
  @apply focus:border focus:outline-none focus:border-sky-700;
}